.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links {
    margin: 0 1rem;
    padding: 1rem;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

.nav-link-active {
    border: 1px solid lightgreen;
}

.nav-links:hover {
    color: lightgreen;
}