.pokedex {
    text-align: center;
}

.pokedex-title {
    color: darkgray;
}

.pokedex-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.pokedex-winner {
    font-weight: bold;
    color: orangered;
}